<nav id="navSmallPlus" class="hidden-xs" role="navigation">
  <br />
  <hr />
  <ul id="navMenu" class="list-inline pull-left">
    {% for link in linklists.main-menu.links %}
    
    <li role="presentation" class="{% if link.active %} active{% endif %}">
      <a href="{{ link.url }}">
        <span>{{ link.title }}</span></a>
    </li>
    {% if forloop.last == false %}
    <li class="nav-divider-pipe">/</li>
    {% endif %}
    
    {% comment %}
      {% if linklists[link.handle] == empty %}
        <li role="presentation" class="{% if link.active %} active{% endif %}">
          <a href="{{ link.url }}">
            <span>{{ link.title }}</span></a>
        </li>
        {% if forloop.last == false %}
        	<li class="nav-divider-pipe">/</li>
        {% endif %}
      {% else %}
        <li role="presentation" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <span>{{ link.title }}</span>
            <!--<span class="caret"></span>-->
          </a>
          <ul class="dropdown-menu" role="menu">
            {% for l in linklists[link.handle].links %}
              <li role="presentation" class="{% if l.active %} active{% endif %}">
                <a href="{{ l.url }}">{{ l.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
        {% if forloop.last == false %}
        	<li class="nav-divider-pipe">/</li>
        {% endif %}
      {% endif %}
    {% endcomment %}
    {% endfor %}
  </ul>
  <ul id="userCartMenu" class="list-inline pull-right">
    {% include 'customer_links' %}
    <li class="nav-divider-pipe">/</li>
    
    <li id="cart-target" class="toolbar-cart {% if cart.item_count != 0 %}has-items{% endif %}">
      <a href="/cart" class="cart" title="Shopping Cart">
        <span class="fa fa-shopping-cart"></span>
        {{ 'layout.header.cart' | t }}
        <span id="cart-count">({{ cart.item_count }})</span>
      </a>
    </li>
    {% comment %}
    {% if cart.item_count != 0 %}
    <li class="nav-divider-pipe">/</li>
    <li>
      <a href="/cart" title="Checkout">Check out</a>
    </li>
    {% endif %}
    {% endcomment %}
  </ul>
  <div class="clearfix"></div>
</nav>
